.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-stuff,
.display-stuff {
  margin: 5px;
  text-align: center;
  width: 50%;
}

.component {
  cursor: pointer;
}
