.component {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(1fr, 7);
  grid-template-rows: repeat(1fr, 7);
}

.builder-pedal {
  grid-column: 3 / 6;
  grid-row: 3 / 6;
}
