body {
  margin: 0;
}

.component,
.icon-pointer {
  cursor: pointer;
}

.crosshair {
  cursor: crosshair;
}

.ui.button {
  margin: 0;
}

.mobile-only {
  display: inline;
}

.tablet-plus {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
  .tablet-plus {
    display: block !important;
  }
}
